:root {
    --website-nav-btn-size: 3rem;
    --website-nav-btn-margin: 1rem;
    --background-color: rgb(26, 28, 32);
    --text-color: rgb(236, 239, 242);
    --delimiter-color: rgb(46, 48, 57);
    --link-color: rgb(115, 122, 222);
    --time-color: rgb(140, 144, 161);
    --quote-color: rgb(140, 144, 161);
    /* 262, 267, 274 */
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background-color: rgb(18, 18, 18); */
    /* color: rgb(237, 237, 237); */
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    line-height: 3rem;
}

h2 {
    font-size: 3rem;
    line-height: 1.4;
    padding-inline: .25em;
    margin-bottom: .25em;
    margin-top: 1em;
}

code, time {
    font-family: fantasy;
    color: var(--time-color);
}

time {
    display: inline-block;
    padding-top: 1.5em;
    padding-inline: .75em;
}

a {
    color: var(--link-color);
    overflow-wrap: break-word;
}

q {
    color: var(--quote-color);
}

a:hover {
    color: rgb(88, 95, 222);
}

hr {
    border: 1px solid var(--delimiter-color);
}

p, ul {
    max-width: 80ch;
    font-size: 1.25rem;
}

p {
    line-height: 1.6;
    padding-inline: 1rem;
    margin-block: .5rem;
}

ul {
    line-height: 1.5;
}

main {
    /* This padding is to let the text at the bottom of the page not be covered by the #website-nav-btn */
    padding-bottom: calc(var(--website-nav-btn-size) + var(--website-nav-btn-margin));
    width: 100%;
    padding-inline: .5em;
    max-width: calc(800px + 2*.5em);
}

#website-nav {
    border-top-left-radius: 3em;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 1rem;
}

#website-nav ul {
    display: none;
    text-align: right;
    list-style: none;
    font-size: 3rem;
    line-height: 1.2;
    margin-top: 0;
}

#website-nav-btn {
    padding: 0;
    /* background-color: rgb(90, 215, 215); */
    background-color: var(--link-color);
    border-radius: 7px;
}

#website-nav-btn img {
    width: 3rem;
    padding: 0;
    margin: 0;
    display: block;
}

@media (min-width: 1100px) {    
    body {
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        align-items: start;
    }
    
    #website-nav {
        position: unset;
        padding: 2rem;
        border-right: 1px solid var(--delimiter-color);
    }
    
    #website-nav ul {
        /* I use !important because the the inline-style embedded by js 
        has higher priority. */
        display: block !important;
    }
    
    #website-nav-btn {
        display: none;
    }
}  
